body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Yengil fon rangi */
    color: #000; /* Matn rangi */
}
a{width: 20px;
margin: 20px;}

.dark-mode {
    background-color: #333; /* Qora fon rangi */
    color: #fff; /* Oq matn rangi */
}

.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    margin: 2px;
    border: 2px solid black;
}

.gallery-item {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
    border: 3px solid black;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.modal {
    display: none; /* Yashirin */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%; /* 90% kenglikda */
    max-width: 100%; /* Maksimal kenglik */
    height: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}